header {
    background-color: rgb(207, 141, 48);
    color: black;
    font-size: 2em;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: lightslategray;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;

}

.nav-menu {
    padding: 0;
    margin: 0;
    font-size: 17px;
    list-style-type: none;
    display: flex;
    gap: 20px;
}



.nav-menu li {
    padding: 5px 10px;

}

.nav-menu li a {
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}



.nav-menu a:hover {
    text-decoration: underline;
    color: rgb(180, 63, 63);
}

.homepage {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(207, 141, 48);
    padding: 10px;
    border: 2px solid rgb(207, 141, 48);
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.homepage-main {
    color: rgb(207, 141, 48);
    text-decoration: none;
}

.homepage a:hover {
    text-decoration: underline;
    color: rgb(180, 63, 63);
}

body {
    margin: auto;
    margin-bottom: 60px;
    padding: 0;

}

.traveltips {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(207, 141, 48);
    padding: 10px;
    border: 2px solid rgb(207, 141, 48);
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;

}

/* ul {
    display: inline-block;
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
} */

li {
    text-align: left;

}

p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.destination-div {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(207, 141, 48);
    padding: 10px;
    border: 2px solid rgb(207, 141, 48);
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.destination-input {
    min-width: 200px;
    font-size: 2em;
    background: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    align-items: center;
    color: rgb(207, 141, 48);
    font-family: "Quintessential", serif;
    flex: 0 0 auto;
    margin: 0;
    padding: 4px 6px;

}

.destination-text {
    font-size: 2em;
    font-family: "Quintessential", serif;
    font-weight: bold;
    display: inline-block;
    gap: 10px;
    min-width: 200px;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    color: rgb(207, 141, 48);
}


/* savedtrips */
.main-trip-container,
.flights-reminders-container,
.trip-packing-container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 100%;

    box-sizing: border-box;
    align-items: stretch;

}



.outer-wrapper-trips {
    padding: 20px;
    box-sizing: border-box;
}



.trip-box,
.flights-box {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.reminder-box,
.packing-box {
    flex: 3;

}

#saved-trip-data,
.packing-list-container,
.reminder-list-container,
.flights-container {
    background: lightblue;
    border-radius: 10px;
    padding: 16px 20px;
    box-shadow: 0 2px 8px black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    font-size: 1rem;
}


#saved-activity-data,
.saved-connections-data {
    background: white;
    margin-top: 10px;
    padding-left: 10px;
    /* border: 1px solid black; */
    border-radius: 12px;
    box-shadow: 0 0 5px;
    font-size: 1rem;
}

.saved-activity {

    padding: 10px 12px;
    margin-bottom: 10px;
    border-bottom: 1px dashed black;

}



.saved-connection {
    padding: 10px;

    border-radius: 8px;
    background: white;
    font-size: 0.95rem;
}

.saved-activity:last-child,
.saved-connection:last-child {
    border-bottom: none;
}







.planner-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.planner-form fieldset {
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.planner-form legend {
    font-weight: bold;
    padding: 0 10px;

}

.planner-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;

}

#city,
#date,
#activity,
#time,
#notes {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.delete-activity-button,
.activity-button,
.delete-day-button,
.add-day-button,
.trip-submit-button {
    padding: 8px 15px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.delete-activity-button,
.delete-day-button {
    background-color: red;
    color: black;
}

.activity-button,
.add-day-button {
    background-color: lightblue;
}


.trip-submit-button {
    background-color: green;
}

.form-button-group {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.flight-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.flight-form fieldset {
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.flight-form legend {
    font-weight: bold;
    padding: 0 10px;
}

.flight-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
}

#date,
#deptCode,
#deptTime,
#connCode,
#connTime,
#arrCode,
#arrTime {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.delete-connection-button,
.add-connecting-button,
.delete-flight-button,
.add-flight-button,
.flight-submit-button {
    padding: 8px 15px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.delete-connection-button,
.delete-flight-button {
    background-color: red;
    color: black;
    margin: 10px;
}

.add-connecting-button,
.add-flight-button {
    background-color: lightblue;
}

.flight-submit-button {
    background-color: green;
}

.flight-details {
    text-align: center;
}

.trip-details {
    text-align: center;
}

.packing-list-input-container,
.reminder-list-input-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.packing-list-title,
.reminder-list-title {
    text-align: center;
}

#add-item-button {
    background-color: lightblue;
    padding: 8px 15px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.packing-list-submit-button,
.reminder-list-submit-button {
    padding: 8px 15px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
}

.delete-item-button {
    padding: 8px 15px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: black;
    margin: 10px;

}

@media (min-width: 480px) {

    .main-trip-container,
    .flights-reminders-container,
    .trip-packing-container {
        flex-direction: column;
        gap: 10px;
    }

}




@media (min-width: 1024px) {

    .main-trip-container,
    .flights-reminders-container,
    .trip-packing-container {
        flex-direction: row;
        font-size: 20px;
        align-items: stretch;

    }


}

/* Nav Icon */

header .nav-menu ul {
    display: none;
}

.nav-icon-button {
    display: block;
}

/* nav {
    background-color: #333;
    overflow: hidden;
} */

/* nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
} */

/* nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
} */

nav ul li {
    list-style: none;
}

/* nav a {
    display: none;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
} */

/* .nav-icon-button {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 14px 20px;
} */



/* .isExpanded a {
    display: block;
    background-color: #444;
} */

@media (min-width: 768px) {

    .main-trip-container,
    .flights-reminders-container,
    .trip-packing-container {
        flex-direction: row;
        gap: 10px;
        align-items: stretch;
    }

    nav a {
        display: inline-block;
    }

    nav ul {
        display: flex;
        gap: 10px;
    }

    .nav-icon-button {
        display: none;

    }

    header .nav-menu ul {
        display: flex;
        gap: 20px;
    }


}


.nav-icon-button {
    cursor: pointer;
    color: black;
    background: none;
    border: none;
    padding: 10px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}





.nav-icon-button :hover {
    background-color: #e0e0e0;
    
}

.isExpanded {
    display: block;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.isExpanded li a {
    display: block;
    padding: 14px 20px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    background-color: #f0f0f0;
    
}

.isExpanded li a:hover {
    color: rgb(180, 63, 63);
    text-decoration: underline;
    background-color: #e0e0e0;
}