header {
    background-color: rgb(207, 141, 48);
    color: black;
    font-size: 2em;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer {
    background-color: lightslategray;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;

}

.nav-menu {
    padding: 0;
    margin: 0;
    font-size: 17px;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-menu li {
    padding: 5px 10px;

}

.nav-menu li a {
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}



.nav-menu a:hover {
    text-decoration: underline;
    color: rgb(180, 63, 63);
}

.homepage {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(207, 141, 48);
    padding: 10px;
    border: 2px solid rgb(207, 141, 48);
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.homepage-main {
    color: rgb(207, 141, 48);
    text-decoration: none;
}

.homepage a:hover {
    text-decoration: underline;
    color: rgb(180, 63, 63);
}

body {
    margin: auto;
    margin-bottom: 60px;
    padding: 0;

}

.traveltips {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(207, 141, 48);
    padding: 10px;
    border: 2px solid rgb(207, 141, 48);
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;

}

ul {
    display: inline-block;
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

li {
    text-align: left;

}

p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.destination-div {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(207, 141, 48);
    padding: 10px;
    border: 2px solid rgb(207, 141, 48);
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.destination-input {
    min-width: 200px;
    font-size: 2em;
    background: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    align-items: center;
    color: rgb(207, 141, 48);
    font-family: "Quintessential", serif;
    flex: 0 0 auto;
    margin: 0;
    padding: 4px 6px;

}

.destination-text {
    font-size: 2em;
    font-family: "Quintessential", serif;
    font-weight: bold;
    display: inline-block;
    gap: 10px;
    min-width: 200px;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    color: rgb(207, 141, 48);
}

